<a href="https://colab.research.google.com/github/knitinsingh/Python_cheatsheet_One/blob/master/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving baseball.csv to baseball.csv

In [0]:
import io
baseball = pd.read_csv(io.BytesIO(uploaded['baseball.csv']))

In [7]:
df2.head()

              Name Team       Position  Height  Weight    Age PosCategory
0    Adam_Donachie  BAL        Catcher      74     180  22.99     Catcher
1        Paul_Bako  BAL        Catcher      74     215  34.69     Catcher
2  Ramon_Hernandez  BAL        Catcher      72     210  30.78     Catcher
3     Kevin_Millar  BAL  First_Baseman      72     210  35.43   Infielder
4      Chris_Gomez  BAL  First_Baseman      73     188  35.71   Infielder

In [13]:
# baseball is available as a regular list of lists

# Import numpy package
import numpy as np

# Create np_baseball (2 cols)
np_baseball = np.array(baseball)

# Print out the 50th row of np_baseball
print(np_baseball[49,:])

# Select the entire second column of np_baseball: np_weight_lb
np_weight_lb  = np_baseball[:,1]

# Print out height of 124th player
print(np_baseball[123, 0])

['Rob_Mackowiak' 'CWS' 'Outfielder' 70 195 30.69 'Outfielder']
Kason_Gabbard